.idea
.vscode/sftp.json
node_modules
tmp
temp
dist
build
vendor
_ext_**
yarn.lock
mix-manifest.json
log.txt
undefined.asset.php
undefined.js
package-lock.json
composer.lock
.DS_Store
**/.DS_Store
i18n/languages
bun.lockb